.quality__content p {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  width: 700px;
  max-width: 100%;
  margin: 40px auto 30px;
}
.btns {
  column-gap: 30px;
}
.happy__section {
  background-image: url('../../../public/assets/1-3.png');
  background-attachment: fixed;
  min-height: 110vh;
  row-gap: 60px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.happy__section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
}
.happy__section h2 {
  font-size: 130px;
  z-index: 1;
}
.happy__section p {
  z-index: 1;
  color: #fff;
  font-size: 32px;
  font-family: var(--highlight-font);
  font-weight: 700;
}