.blogs_swiper {
  margin-top: 40px;
}
.single__blog-img {
  overflow: hidden;
  height: 250px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.single__blog-img  img {
  max-width: 100%;
  width: 100%;
  transition: 1s ease;
  height: 100%;
  object-fit: cover;
}
.single__blog-img:hover img {
  transform: scale(1.05);
}
.single__blog-date {
  top: 0;
  right: 0;
  padding: 20px;
  background-color: var(--body-bgcolor);
  color: #fff;
  z-index: 2;
}
.single__blog-subtitle {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  display: block;
}
.single__blog-data h3 {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  margin: 40px 0;
}
.single__blog-data p {
  line-height: 32px;
  margin-bottom: 20px;
}
@media(max-width: 992px) {
  .single__blog-data h3 {
    font-size: 24px;
    margin: 20px 0;
  }
}